header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: var(--black-bg-color);
    color: #fff;
    padding: 0px 30px 0px 30px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: medium;
    padding: 2px;
}

a:hover {
    cursor: pointer;
    color: beige;
}

a button {
    border-radius: 10px;
    border: 0;
    padding: 12px;
    background-color: var(--red-secondary-color);
    color: #fff;
    font-weight: bold;
}

a button:hover {
    background-color: var(--red-primary-color);
    cursor: pointer;
}

span a {
    color: var(--red-primary-color);
    font-size: large;
    font-weight: bold;
}

span a:hover {
    cursor: pointer;
    color: var(--red-primary-color);
}

.active {
    border-bottom: 3px var(--red-secondary-color) solid;
}

.active-remove {
    border: 0px;
}
